numpy
pandas
matplotlib
scikit-learn
scipy
jupyter
notebook
ipykernel
pillow

torch
torchvision
torchaudio

transformers
sentence-transformers
huggingface-hub
tokenizers
tensorflow==2.16.1
tensorflow-metal==1.1.0

flask
flask-cors
requests
beautifulsoup4

selenium

langchain
langchain-community
pydantic